/* .firstline{
  color: aqua;
  background-color: black;
  text-align: center;
}
.secondline{
  color: aqua;
  background-color: black;
  text-align: center;
  /* width: 200px; */
  /* margin-left: 43%; */
/* } */
/* .thirdline{
  color: aqua;
  background-color: black;
  text-align: center;
} */ 